[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "adjclust"]
	path = adjclust
	url = https://github.com/pneuvial/adjclust
[submodule "MANOR"]
	path = MANOR
	url = https://github.com/pneuvial/manor
